extends layout

block content
  .header
    h1.halign Treasure Panning
    div.login-details
      if (user)
        p Welcome #{user.firstname} #{user.lastname}
  ul.navigation-bar
    li
      a(href="/#/") Home
    if (user)
      li.dropdown
        a.dropbtn(href="") Item
        div.dropdown-content
          a(href="/#/add-item") Add Item
    if (user)
      li
        .dropdown
          a.dropbtn(href="") History
          div.dropdown-content
            a(href="/#/buyingHistory") Buy History
            a(href="/#/sellingHistory") Sell History
    if (!user)
      li(style="float:right;")
        a(href="/#/login") Sign In
    if (user)
      li(style="float:right;")
        a(href="/logout") Logout
    if (user)
      if (!user.isAdmin)
        li
          a(href="/#/wishlist") Wishlist
    if (user)
      if (user.isAdmin)
        li
          a(href="/#/contact-msg") View Messages
    li
      a(href="/#/about-us") About Us
    if (user)
      if (!user.isAdmin)
        li
          a(href="/#/contact-us") Contact Us
  .main-content.container-fluid
    div(ng-view)
  .footer.row-fluid
    p Treasure Panning - Copyright &copy; &nbsp;2017
