extends layout

block content
  .header
    h1.halign Treasure Panning
    div.login-details
      if (user)
        p Welcome #{user.firstname} #{user.lastname}
  ul.navigation-bar
    li
      a(href="/#/") Home
    li.dropdown
      a.dropbtn(href="") Product
      div.dropdown-content
        a(href="/#/add-item") Add Product
        a(href="./public/partials/delete-product.html") Delete Product
        a(href="./public/partials/update-product.html") Update Product
        a(href="/#/") View Product
    li
      .dropdown
        a.dropbtn(href="") Bids
        div.dropdown-content
          a(href="./public/partials/view-bids.html") View Bids
    if (!user)
      li(style="float:right;")
        a(href="/#/login") Sign In
    if (user)
      li(style="float:right;")
        a(href="/logout") Logout
    li
      a(href="/#/about-us") About Us
    li
      a(href="/#/contact-us") Contact Us
  .main-content.container-fluid
    div(ng-view)
  .footer.row-fluid
    p Treasure Panning - Copyright &copy; &nbsp;2017
