doctype html
html(ng-app='TreasurePanning')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/treasurepanning.js')
    script(src='/javascripts/directives/fileModel.js')
    script(src='/javascripts/directives/passwordVerify.js')
    script(src='/javascripts/directives/bidVerify.js')
    script(src='/javascripts/services/multipartForm.js')
    script(src='/javascripts/services/AuthService.js')
    script(src='/javascripts/controllers/itemController.js')
    script(src='/javascripts/controllers/userController.js')
    script(src='/javascripts/dirPagination.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
    block content
