<div class="about-us">
  <h1>About Us</h1>
</div>
<h2 class="about-para">
  <i class="glyphicon glyphicon-chevron-right"></i>
  Who We Are
</h2>
<p class="about-para">
  Treasure Panning is an online auction marketplace, wherein auction buyers come together each year to list and find auctions.
  Every week we list thousands of new items at auction, and live auctions around the world.
</p>
<h2 class="about-para">
  <i class="glyphicon glyphicon-chevron-right"></i>
  What is a Live Auction
</h2>
<p class="about-para">
Live auctions are simulcast events that allow people to bid for items online at the same time as those on the auction floor.
With live bidding, you can access auctions around the world and get in on all the action, right from your own computer.
<a href='/#/register'>Just become a member</a>, and you’re ready to bid!.
</p>
<h2 class="about-para">
  <i class="glyphicon glyphicon-chevron-right"></i>
  Our Team
</h2>
<div class="gallery1">
  <img src="images/jiawei-image.png" alt="Photo of Jiawei" width="150px" height="200px">
  <div class="desc1">
    Jiawei Gu is pursuing master's degree in Computer Science from University of Texas at Dallas. He has completed under-graduate degree and master's degree in Bio Technology and Bio Informatics respectively from the same Univeristy.
  </div>
</div>
<div class="gallery1">
  <img src="images/punit-image.jpg" alt="Photo of Punit" width="150px" height="200px">
  <div class="desc1">
    Punit Bhalla is currently enrolled in Masters of Science in Computer Science program (Fall 2017) at University of Texas at Dallas. He has completed undergraduate studies in Information Technology from Guru Gobind Singh Indraprastha University, India. Also he has a working experience of nearly 4 years in Tata Consultancy Services Ltd, India.
  </div>
</div>
