<div class="alert alert-success" role="alert" ng-if="successMessgae">{{successMessgae}}</div>
<div class="additemform">
  <h1>Contact Us</h1>
<form>
  <div class="form-group">
    <input class="form-control" ng-model="query.name" type="text" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <input type="email" ng-model="query.email" placeholder="Enter Email Address" class="form-control">
  </div>
  <div class="form-group">
    <textarea class="form-control" ng-model="query.message" placeholder="Enter your message" rows="7" cols="30"></textarea>
  </div>
  <div class="form-group">
    <input type="button" class="btn btn-primary" value="Submit" ng-click="save()"></input>
  </div>
</form>
</div>
