<div class="alert alert-success" role="alert" ng-if="successMessgae">{{successMessgae}}</div>
<div class="additemform">
<h1>Add a item</h1>
<form  name="form" ng-submit="submit()">
    <div class="form-group">
        <label>Name</label>
        <input id="itemname" class="form-control" ng-model="item.name" placeholder="Enter Name" required>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea id="itemdescription" class="form-control" ng-model="item.description" placeholder="Enter Description" required></textarea>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select id="itemcategory"class="form-control" ng-model="item.category" required>
          <option value='0'>Select</option>
          <option value="Apparels">Apparels</option>
          <option value="Accessories">Accessories</option>
          <option value="Antiques">Antiques</option>
          <option value="Electronics">Electronics</option>
          <option value="Footwear">Footwear</option>
          <option value="Furniture">Furniture</option>
          <option value="Hardware Equipments">Hardware Equipments</option>
          <option value="Jewelry">Jewelry</option>
          <option value="Musical Instruments">Musical Instruments</option>
          <option value="Sports Equipments">Sports Equipments</option>
          <option value="Vehicle">Vehicle</option>
          <option value="Others">Others</option>
        </select>
    </div>
    <div class="form-group">
        <label>Minimum Bid Amount</label>
        <input id="itemstartprice" class="form-control" ng-model="item.startPrice" placeholder="Enter Amount" required>
    </div>
    <div class="form-group">
        <label>Bid End Time</label>
        <input id="itemendtime" type="datetime-local" class="form-control" ng-model="item.endBidTime" placeholder="Enter Bid End Time" required>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input id="itemfile" type="file" file-model="item.image" required >
    </div>
    <div class="form-group">
      <input id="btnadd" class="btn btn-default" type="submit" value="Add Item">
    </div>
</form>
</div>
