<div class="alert {{registerStatus}}" role="alert" ng-if="registerMessage">{{registerMessage}}</div>
<div class="signupform" >
  <h1>Create Account</h1>
  <br>
  <form name="registerForm" novalidate ng-submit="register()" style="max-width: 400px;">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter Username" class="form-control" ng-model="signupForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]/' ng-minlength="8" placeholder="Enter Password" class="form-control" ng-model="signupForm.password" password-verify="{{password2}}" required>
    </div>
    <div class="alert alert-danger" ng-show="registerForm.password.$invalid && registerForm.password.$dirty">
      <p ng-show="registerForm.password.$error.minlength">minimum length is 8</p>
      <p ng-show="registerForm.password.$error.pattern">must have a letter, a digit and a special charecter includes *[$@$!%*#?&</p>
      <p ng-show="registerForm.password.$error.required">must have a password</p>
      <p ng-show="registerForm.password.$error.passwordVerify">password don't match</p>
    </div>
    <div class="form-group">
      <label>Input Password again</label>
      <input type="password" name="password2"  placeholder="Enter Password again" class="form-control" ng-model="password2" password-verify="{{signupForm.password}}" required>
    </div>
    <div class="form-group">
      <label>Firstname</label>
      <input type="text" name="firstname" placeholder="Enter First Name" class="form-control" ng-model="signupForm.firstname" required>
    </div>
    <div class="form-group">
      <label>Lastname</label>
      <input type="text" name="lastname" placeholder="Enter Last Name" class="form-control" ng-model="signupForm.lastname" required>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="number" name="phone" ng-minlength="10"  ng-maxlength="10"   placeholder="Enter Phone Number" class="form-control" ng-model="signupForm.phone" required>
    </div>
    <div class="help-block alert alert-danger"
                ng-show="((registerForm.phone.$error.minlength ||
                         registerForm.phone.$error.maxlength) &&
                         registerForm.phone.$dirty) ">
                         phone number should be 10 digits
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea class="form-control" name="address" placeholder="Enter Address" ng-model="signupForm.address" required></textarea>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="emailaddress" placeholder="Enter Email Address" class="form-control" ng-model="signupForm.email" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" ng-disabled="registerForm.$invalid">Submit</button>
      <a href="/#/">
        <button type="button" class="btn btn-primary">Cancel</button>
      </a>
    </div>
    &nbsp;

  </form>
</div>
