<div class="alert alert-info" role="alert" ng-if="successMessgae"><p style="font-size:200%; text-align:center;">{{successMessgae}}</p></div>
<div class="viewitemform">
<ul>
    <li ng-repeat='wishItem in wishlistitems'>
      <div class="gallery">
        <a href="/#/item/{{item._id}}">
        <img ng-src="/api/items/image/{{wishItem._id}}" alt="Photo of {{wishItem.name}}">
       </a>
        <div class="desc">
          <h5>{{wishItem.name}}</h5>
          <hr>
          <p>Minimum Bid: {{wishItem.startPrice}}</p>
        </div>
      </div>
    </li>
</ul>
</div>
